<a href="https://colab.research.google.com/github/sk2470423/sk2470423/blob/main/Data_Structure_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q.1. Discuss string slicing and provide examples.
Ans. String slicing is a fundamental process where we extract a subset of characters from a larger string by specifying a start index,end index and optionally a step value.
It follows the basic format as :-  
                  **string [start:stop:step]**

 (a). start : it is the starting index of the slice.

 (b). stop : it is the ending index of the slice.

 (c). step : it is the increment between the indices.

 Python slicing can be done in two ways :-  
 (i). using a slice() method
 (ii). using the array slicing [::  ] method

 **Examples :-**

 (a). Ommiting Start Index -

In [ ]:
"Hello World!" [ :5]

'Hello'

(b).Omitting End Index -

In [ ]:
"Hello World!" [6 : ]

'World!'

(c).Reversing a String -

In [ ]:
"Hello World!" [:: -1]

'!dlroW olleH'

(d). **Python Example:-**

In [ ]:
my_string = "Hello World!"
print (my_string [0:5])

Hello

___________________________________________________________________________

# **Q.2. Explain the key features of  Lists in Python.**
Ans. Lists are fundamental data structure. They offer powerful features for data manipulation.A List is a collection of things enclosed in [  ] and separated by commas.

Some of the features of Lists are as follows :-  
(a). Python Lists are just like dynamically sized arrays, declared in other languages like :- vector in C++ and ArrayList in Java.

(b). Lists are the most powerful tool in Python.One of its reason is that it need not be homogeneous always.

(c). Elements can be added to the List by using the built in **append ()** method. Only one element at a time can be added to the list by this method.

(d). Inserting, Removing, Reversing, Slicing etc. can also be done in Lists.

(e). Different methods like :- append ( ), extend ( ), insert ( ), remove ( ), pop ( ) are used in Lists.

**Example :-**

Creating a List  in Python :-

In [ ]:
my_list = [1,2,3,"hello", 4.5]

___________________________________________________________________________

# **Q.3. Describe how to access,modify and delete elements in a list with examples.**
Ans. The processes to access, modify and delete elements in a lists are explained below :-  
**Accessing Elements in Lists -**
In order to access the list items refer to the index number.Use the index operator [  ] to access an item in a list. The index must be an integer.

In [ ]:
# Creating a List with
# the use of multiple values
List= [ 1,2,3,4]
#accessing an element for the
# list using index number
print ("Accessing a element from the list")
print (List [0])
print (List [2])

Accessing a element from the list
1
3

**Delelting elements from Lists -**
Elements can be deleted from Lists using built-in remove() function as :-

In [ ]:
# Creating a List
List = [1,2,3,4,5,6,7,8,9,10]
print ("Initial List: ")
print (List)

# Removing elements from List
# using Remove () method
List. remove (5)
List. remove (6)
print("\n List after removal of two elements: ")
print (List)

Initial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 List after removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10]

Elements can also be Deleted from List using pop() method as -

In [ ]:
List = [1,2,3,4,5]
# Removing element from the
# Set using the pop( ) method
List. pop()
print("\n List after popping an element:")
print (List)

 List after popping an element:
[1, 2, 3, 4]

**Modifying elements in Lists-**
We can assign new value in a List or insert elements at a specific index or append ( means adding elements to the end) or extend the number of elements in a List. These are the modifications that can be done in Lists.

In [ ]:
my_list = [1,2,3,4,5]
my_list [0]=10
print (my_list)

[10, 2, 3, 4, 5]

In [ ]:
my_list=[1,2,3,4]
my_list.append(4)
print(my_list)

[1, 2, 3, 4, 4]

___________________________________________________________________________

# **Q.4. Compare and contrast tuples and lists with examples.**
Ans. Lists and tuples are two classes Python Data Structures.There are some similarities and some differences between Lists and Tuples which can be seen below :-  

**Similarities :-**

(a). Lists and Tuples both store multiple values.

(b). Both are ordered collections.

(c). Both support indexing, slicing and iteration.

**Differences :-**

(a). List is dynamic in nature whereas Tuple is static and can't be changed.

(b). Tuples are immutable but Lists are mutable.

(c). Tuples use parantheses (  ) but Lists use brackets [  ].

**Examples :-**

In [ ]:
my_tuple = (1,2,3,4,5,)
print (my_tuple [ :3])

(1, 2, 3)

In [ ]:
my_list = [1,2,3,4,5]
print (my_list[0])

1

__________________________________________________________________________

# **Q.5. Describe the key features of sets and provide examples of their use.**
Ans. Sets are a fundamental data structure in Python which offer efficient and powerful features for managing unique elements.Some of the key features of sts and their examples are given below :-  
 (a). Sets are unordered collection of unique elements.

 (b). No duplicate or repeated elements are allowed in sets.

 (c). There is support for mathematical operations such as union, intersection, difference.

 (d). They are mutable.

 (e). Sets provide efficient and powerful features for managing unique elements.

 Some examples are :-  
 1. Union of Sets -

In [ ]:
# Python Program to
# demonstrate union of
# two sets

people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

# Union using union()
# function
population = people.union(vampires)

print("Union using union() function")
print(population)

# Union using "|"
# operator
population = people|dracula

print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Jay', 'Idrish', 'Karan', 'Archil', 'Arjun'}

Union using '|' operator
{'Raju', 'Jay', 'Idrish', 'Archil', 'Deepanshu'}

2. Intersection of Sets -

In [ ]:
# Python program to
# demonstrate intersection
# of two sets

set1 = set()
set2 = set()

for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

# Intersection using
# intersection() function
set3 = set1.intersection(set2)

print("Intersection using intersection() function")
print(set3)

# Intersection using
# "&" operator
set3 = set1 & set2

print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

3. Difference of sets -

In [ ]:
# Python program to
# demonstrate difference
# of two sets

set1 = set()
set2 = set()

for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

# Difference of two sets
# using difference() function
set3 = set1.difference(set2)

print(" Difference of two sets using difference() function")
print(set3)

# Difference of two sets
# using '-' operator
set3 = set1 - set2

print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

___________________________________________________________________________

# *Q.6. Discuss the use case of tuples and sets in Python programming.*
Ans. Tuples are immutable and ordered collection of values.

Use cases of tuples are :-  
(a). it stores data that should not change.

(b). used for passing multiple to functions.

(c). used to represent rows in a database or items in a list.

(d). tuples are used as keys in dictionaries.

Sets are unordered collection of unique values.

Use cases of sets are :-  

(a). remove duplicates from lists.

(b). to check if an element exists.

(c). to perform set operations like union,intersection, difference.

(d). improves query performance.

**Examples :-**

Using tuples as dictionary keys -

In [ ]:
data = {(1,2):"value 1",(3,4):"value 2"}
print(data[(1,2)])

value 1

Using Sets for removing duplicates -

In [ ]:
names = ["John","Mary","John"]
unique_names=set(names)
print(unique_names)

{'John', 'Mary'}

__________________________________________________________________________

# **Q.7. Describe how to add,modify and delete items in a dictionary with examples.**
Ans. Given below is mentioned how to add, modify and delete items in a dictionary :-  

(a). Adding items in a dictionary -

1. update (  ) method :

In [ ]:
my_dict={"name":"John","age":30}
my_dict.update({"country":"USA","city":"New York"})
print(my_dict)

{'name': 'John', 'age': 30, 'country': 'USA', 'city': 'New York'}

2. setdefault (  ) method -

In [ ]:
my_dict={"name":"John","age":30}
my_dict.setdefault("country","USA")
print(my_dict)

{'name': 'John', 'age': 30, 'country': 'USA'}

(b). Modifying items in a dictionary -

1. update ( ) method :

In [ ]:
my_dict = {"name": "John", "age": 30}
my_dict.update({"age": 31, "name": "Jane"})
print(my_dict)

{'name': 'Jane', 'age': 31}

(c). Deleting items in a dictionary -

1. pop (  ) method : removes last inserted item.

In [ ]:
my_dict = {"name": "John", "age": 30}
my_dict.pop("age")
print(my_dict)

{'name': 'John'}

2. clear (  ) method : used for removing all the items.

In [ ]:
my_dict = {"name": "John", "age": 30}
my_dict.clear()
print(my_dict)

{}

___________________________________________________________________________

# **Q.8. Discuss the importance of dictionary keys being immutable and provide examples.**
Ans.In Python, dictionary keys must be immutable, means they can't be changed after creation. This is due to several reasons :-  
(a). Hashing :-  dictionary keys are hashed for efficiency.Immutable keys ensure consistent hash values for fast and reliable key retrievals.

(b). Uniqueness :- Immutability guarantees unique keys and prevents accidental key duplication.

(c). Predictability :- Immutable keys simplifies debugging and maintenance.

There are different types of immutable keys used :-  

1. Integers (int) :1,2,3 etc.

2. Floats (float) : 3.14,-0.15,etc.

3. Strings (str) : "hello", "world", etc.

4. tuples :(1,2,3), (a,b,c), etc.

Some operations of immutable keys are stated below :-  
1. Using tuples as keys -

In [ ]:
my_tuple=(1,2,3)
my_dict={my_tuple:"value"}
print(my_dict[my_tuple])

value

2. Converting mutable keys into immutable -

In [ ]:
my_list=[1,2,3]
my_tuple=tuple(my_list)  #Convert list to tuple
my_dict={my_tuple:"value"}
print(my_dict[my_tuple])

value

3. Attempting to use mutable keys -

In [ ]:
my_list=[1,2,3]
my_dict={my_list:"value"}

TypeError: unhashable type: 'list'

From above code we can see that when we try to use mutable keys, we get an Error.
___________________________________________________________________________